@{
  Layout = "_Layout";
}
<div class="vines"><img src="~/assets/imgs/vines.png"> <p>Eau Claire's</p><img src="~/assets/imgs/vines.png"> </div>

  <div class="splash">
    <h3><a href='/Stylists'>Show Stylists</a></h3>
    <h3>@Html.ActionLink("Show Clients", "Index", "Clients")</h3>
    <h3>@Html.ActionLink("Add Stylist", "Create", "Stylists")</h3>
    <h3>@Html.ActionLink("Add Clients", "Create", "Clients")</h3>
  </div>

¸